/* Empty file for template. Remember to edit only this file and not the HTML file */

/* Looks */

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

* {
    font-family: "Irish Grover", serif;
    font-weight: 400;
    font-style: normal; 
}

body {
    display: flex;
    flex-flow: column wrap;
    height: 9677px;
    background: linear-gradient(#000000 17%, #3D437E 42%, #B7E8FF 71%, #FEEA98 100%);
}

abbr[title] {
    text-decoration: underline dotted;
}

p a {
    color: #E70087;
    transition: font-size ease-out 300ms;
}

p a:hover {
    font-size: 37px;
}

a {
    color: #FFFC63;
}

p a:visited {
    color: #E70087;
}

a:visited {

}

h1 {
    position: absolute;
    z-index: 101;
    left: 0;
    width: 650px;
    height: 205px;
    text-indent: -10001px;
    background: url(images/fillerlogo.png) top left no-repeat;
}

/* Sizing */

h3 {
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 0;
}

p {
    font-size: 35px;
    margin-top: 0;
}


/* Sections */

.preamble {
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    margin-left: 40%;
    margin-right: 5%;
    margin-top: 1200px;
}

.main {
    color: #FFFC63;
}

.explanation {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    margin-left: 30%;
    margin-right: 5%;
    padding-top: 1334px;
}

.participation {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    margin-right: 40%;
    margin-left: 5%;
    padding-top: 491px;
}

.benefits {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    margin-right: 30%;
    margin-left: 5%;
    padding-top: 975px;
}

.requirements {
    color: black;
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 1111px;
}

